{% call ui_box(title="Anubi", has_padding=False) %}
  <table class="table has-striped-rows">
    <thead>
      <tr>
        <th>File</th>
        <th>Detection</th>
        <th>Threat Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ pre.anubi.file }}</td>
        <td>Hash</td>
        <td>
          {% if pre.anubi.hash_scan == "No malware detected" %}
            {{ pre.anubi.hash_scan }}
          {% else ‰}
            <ul>
            {% for m in pre.anubi.hash_scan %}
              <li> {{ m }}</li>
            {% endfor %}
            </ul>
          {‰ endif ‰}
        </td>
      </tr>
      <tr>
        <td>{{ pre.anubi.file }}</td>
        <td>Yara</td>
        <td>
          {% if pre.anubi.yara_scan == "No Yara rule triggered" %}
            {{ pre.anubi.yara_scan }}
          {% else ‰}
            <ul>
            {% for m in pre.anubi.yara_scan %}
              <li> {{ m }}</li>
            {% endfor %}
            </ul>
          {‰ endif ‰}
        </td>
      </tr>
    </tbody>
  </table>
{% endcall %}
