{% call ui_box(title="Anubi", has_padding=False) %}
  <table class="table has-striped-rows">
    <thead>
      <tr>
        <th>File</th>
        <th>Detection</th>
        <th>Threat Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ pre.anubi.file }}</td>
        <td>Hash</td>
        <td>
          {% if pre.anubi.hash_scan == "No malware detected" %}
            No malware detected
          {% else %}
            <ul>
            {% for m in pre.anubi.hash_scan %}
              <li> {{ m }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>{{ pre.anubi.file }}</td>
        <td>Yara</td>
        <td>
          {% if pre.anubi.yara_scan == "No Yara rule triggered" %}
            No Yara rule triggered
          {% else %}
            <ul>
            {% for m in pre.anubi.yara_scan %}
              <li> {{ m }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  {% if post.ai %}
    {% if post.ai.gemini_report %}
  <table class="table has-striped-rows">
    <tbody>
      <tr>
        <td>Italian</td>
      </tr>
      <tr>
        <td>{{ post.ai.gemini_report.it_anubi|safe }}</td>
      </tr>
      <tr>
        <td>English</td>
      </tr>
      <tr>
        <td>{{ post.ai.gemini_report.en_anubi|safe }}</td>
      </tr>
    </tbody>
  </table>
    {% endif %}
  {% endif %}

{% endcall %}
