{% call ui_box(title="Strings found in file", has_padding=False) %}
  <table class="table has-striped-rows">
    <thead>
      <tr>
        <th>Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>
          {% for stringa in pre.strings.occurrences.email %}
            {{ stringa }}<br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>IP</td>
        <td>
          {% for stringa in pre.strings.occurrences.ipv4 %}
            {{ stringa }}<br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Packer</td>
        <td>
          {% for stringa in pre.strings.occurrences.packer %}
            {{ stringa }}<br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>URL</td>
        <td>
          {% for stringa in pre.strings.occurrences.url %}
            {{ stringa }}<br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>MAC</td>
        <td>
          {% for stringa in pre.strings.occurrences.mac %}
            {{ stringa }}<br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Suspicious strings</td>
        <td>
          {% for stringa in pre.strings.occurrences.suspicious_string %}
            {{ stringa }}<br>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
{% endcall %}
