{% extends "base.html.jinja2" %}
{% set active_page = "manual" %}
{% set title = "Manual" %}

{% block body %}
  <section class="section">
    <div class="container is-fixed is-smol">
      Not available
    </div>
  </section>
{% endblock %}
